* {
    padding: 0px;
    margin: 0px;
  }
  
  .body {
   
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .box {
    position: absolute;
    top: 25px;
    right: 75px;
    display: flex;
    justify-content: center;
    width: 300px;
    border: 1px solid black;
  }
  
  #scorebox {
    
    margin-bottom: 20px;
  }
  
  #highscorebox {
    
  }
  
  
  #board {
   
    width: 90vmin;
    height: 92vmin;
    border: 5px solid black;
    
    
  }
  
  .head {
    background: linear-gradient(blue, black);
    border: 2px solid navy;
    transform: scale(1.02);
    
  }
  
  .food {
    background: linear-gradient(red, orange);
    border: .25vmin solid black;
   
  }
  
  
  
  
  
